name: golangci-lint

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
    - 'main'
    - 'release/*'
  pull_request:
    branches:
    - '*'

jobs:
  golangci:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT || 10) }}
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - id: version
        run: |
          echo "result=$(yq -r '.golangci-lint' < .tools_versions.yaml)" >> $GITHUB_OUTPUT
      - uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          # actions/setup-go@v6 introduced automatic cache handling so skip cache here
          skip-cache: true
          version: "v${{ steps.version.outputs.result }}"
      - name: Verify Codegen
        run: make verify-codegen
