name: 'Integration Test : Community Nightly'

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
    - 'main'
    - 'release/*'
  pull_request:
    branches:
    - '*'

jobs:
  test:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT || 10) }}
    strategy:
      matrix:
        dbmode:
          - 'dbless'
          - 'postgres'
        router_flavor:
          - 'traditional_compatible'
          - 'expressions'
    env:
      KONG_ROUTER_FLAVOR: ${{ matrix.router_flavor }}
      KONG_IMAGE_REPO: "kong/kong"
      KONG_IMAGE_TAG: "master"
      KONG_ANONYMOUS_REPORTS: "off"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Setup Kong
        run: make setup-kong-${{ matrix.dbmode }}
      - name: Run tests
        run: make test-coverage
      - name: Upload Code Coverage
        uses: codecov/codecov-action@18283e04ce6e62d37312384ff67231eb8fd56d24 # v5.4.3
        continue-on-error: true
        with:
          name: codecov-nightly
          flags: nightly,integration,community
          fail_ci_if_error: true
