name: 'Integration Test : Enterprise'

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
    - 'main'
    - 'release/*'
  pull_request:
    branches:
    - '*'

jobs:
  secret-available:
    outputs:
      ok: ${{ steps.exists.outputs.ok }}
    runs-on: ubuntu-latest
    env:
      PULP_PASSWORD: ${{ secrets.PULP_PASSWORD }}
    steps:
    - name: check for secret availability
      id: exists
      run: |
        if [ ! -z "$PULP_PASSWORD" ]; then
          echo "ok=true" >> $GITHUB_OUTPUT
        fi

  test-enterprise:
    continue-on-error: true
    needs:
    - secret-available
    if: needs.secret-available.outputs.ok
    strategy:
      matrix:
        # Skip explicitly to avoid spawning many unnecessary jobs,
        # since expressions router is supported for Kong >= 3.0.
        # Option router_flavor is ignored for Kong < 3.0.
        exclude:
          - kong_version: '2.2'
            router_flavor: 'expressions'
          - kong_version: '2.3'
            router_flavor: 'expressions'
          - kong_version: '2.4'
            router_flavor: 'expressions'
          - kong_version: '2.5'
            router_flavor: 'expressions'
          - kong_version: '2.6'
            router_flavor: 'expressions'
          - kong_version: '2.7'
            router_flavor: 'expressions'
          - kong_version: '2.8'
            router_flavor: 'expressions'
        router_flavor:
          - 'traditional_compatible'
          - 'expressions'
        kong_version:
        - '2.2'
        - '2.3'
        - '2.4'
        - '2.5'
        - '2.6'
        - '2.7'
        - '2.8'
        - '3.0'
        - '3.1'
        - '3.2'
        - '3.3'
        - '3.4'
    env:
      KONG_ROUTER_FLAVOR: ${{ matrix.router_flavor }}
      KONG_IMAGE_TAG: ${{ matrix.kong_version }}
      KONG_ANONYMOUS_REPORTS: "off"
      KONG_ADMIN_TOKEN: kong
    runs-on: ubuntu-latest
    steps:
      # This will set KONG_LINCENSE_DATA environment variable.
      # NOTE:
      # This could be (?) made a shared step but for some reason it's impossible
      # to override:
      # Warning: Skip output 'license' since it may contain secret.
      # on Github Actions when setting a job output.
      - uses: Kong/kong-license@master
        id: license_step
        with:
          password: ${{ secrets.PULP_PASSWORD }}
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Setup Kong
        run: make setup-kong-ee
      - name: Run tests
        run: make test-coverage-enterprise
      - name: Upload Code Coverage
        uses: codecov/codecov-action@v4.1.0
        continue-on-error: true
        with:
          name: codecov-${{ matrix.kong_version }}
          flags: ${{ matrix.kong_version }},integration,enterprise
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  test-enterprise-passed:
    runs-on: ubuntu-latest
    needs: test-enterprise
    if: always()
    steps:
    - name: Set workflow outcome
      if: needs.test-enterprise.result == 'failure' || needs.test-enterprise.result == 'cancelled'
      run: ${{ false }}
