name: 'Integration Test : Community'

on:
  push:
    branches:
    - 'main'
    - 'release/*'
  pull_request:
    branches:
    - '*'

jobs:
  test:
    strategy:
      matrix:
        kong_version:
        - '2.1.4'
        - '2.2.2'
        - '2.3.3'
        - '2.4.0'
        - '2.5.1'
        - '2.6.0'
        - '2.7.0'
        - '2.8.0'
        - '3.0.1'
        - '3.1.0'
    env:
      KONG_VERSION: ${{ matrix.kong_version }}
      KONG_ANONYMOUS_REPORTS: "off"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
      - uses: actions/cache@v3.2.3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Setup Kong
        run: make setup-kong
      - name: Run tests
        run: make test-coverage
      - name: Upload Code Coverage
        uses: codecov/codecov-action@v3.1.1
        with:
          name: codecov-${{ matrix.kong_version }}
          flags: ${{ matrix.kong_version }},integration,community
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  test-passed:
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
    - name: Set workflow outcome
      if: needs.test.result == 'failure' || needs.test.result == 'cancelled'
      run: ${{ false }}
