name: 'Integration Test : Community'

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  push:
    branches:
    - 'main'
    - 'release/*'
  pull_request:
    branches:
    - '*'

jobs:
  test:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT) }}
    strategy:
      matrix:
        # Skip explicitly to avoid spawning many unnecessary jobs,
        # since expressions router is supported for Kong >= 3.0.
        # Option router_flavor is ignored for Kong < 3.0.
        exclude:
          - kong_version: '2.1'
            router_flavor: 'expressions'
          - kong_version: '2.2'
            router_flavor: 'expressions'
          - kong_version: '2.2'
            router_flavor: 'expressions'
          - kong_version: '2.3'
            router_flavor: 'expressions'
          - kong_version: '2.4'
            router_flavor: 'expressions'
          - kong_version: '2.5'
            router_flavor: 'expressions'
          - kong_version: '2.6'
            router_flavor: 'expressions'
          - kong_version: '2.7'
            router_flavor: 'expressions'
          - kong_version: '2.8'
            router_flavor: 'expressions'
        dbmode:
          - 'dbless'
          - 'postgres'
        router_flavor:
          - 'traditional_compatible'
          - 'expressions'
        kong_version:
          - '2.1'
          - '2.2'
          - '2.3'
          - '2.4'
          - '2.5'
          - '2.6'
          - '2.7'
          - '2.8'
          - '3.0'
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
          - '3.5'
          - '3.6'
          - '3.7'
          - '3.8'
    env:
      KONG_ROUTER_FLAVOR: ${{ matrix.router_flavor }}
      KONG_IMAGE_TAG: ${{ matrix.kong_version }}
      KONG_ANONYMOUS_REPORTS: "off"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
      - name: Setup Kong
        run: make setup-kong-${{ matrix.dbmode }}
      - name: Run tests
        run: make test-coverage
      - name: Upload Code Coverage
        uses: codecov/codecov-action@7f8b4b4bde536c465e797be725718b88c5d95e0e # v5.1.1
        continue-on-error: true
        with:
          name: codecov-${{ matrix.kong_version }}
          flags: ${{ matrix.kong_version }},integration,community
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true

  test-passed:
    timeout-minutes: ${{ fromJSON(vars.GHA_DEFAULT_TIMEOUT) }}
    runs-on: ubuntu-latest
    needs: test
    if: always()
    steps:
    - name: Set workflow outcome
      if: needs.test.result == 'failure' || needs.test.result == 'cancelled'
      run: ${{ false }}
